<suite name="Selenium Automation Test Suite" parallel="methods" thread-count="4">
    <listeners>
        <listener class-name="listeners.ShardListener" />
        <listener class-name="listeners.TestListener" />
    </listeners>
    
    <test name="All Tests">
        <classes>
            <class name="tests.LoginTest" />
            <class name="tests.RegisterTest" />
            <class name="tests.SearchTest" />
            <class name="tests.ProfileTest" />
            <class name="tests.ReviewTest" />
        </classes>
    </test>
</suite>