<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-current.dtd">

<suite name="Selenium Automation Test Suite" parallel="methods" thread-count="4">
    <test name="Login Tests">
        <classes>
            <class name="tests.LoginTest"></class>
        </classes>
    </test>
</suite>
